@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: 'Norse Bold';
  src: url(./fonts/Norse-Bold.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  font-family: "Open Sans";
  background-color: #f3f3f3;
}

.splash {
  position: relative;
}

.splash-image {
  height: 100%;
}

.logo-container {
  display: flex;
  width: 100%;
  position: absolute;
  background-color: rgb(0,0,0,50%);
  top: 15%;
  justify-content: center;
  align-items: center;
  padding: 1em 0; 
}

.logo-image {
  height: 8em;
}

.splash-title {
  color: white;
  font-family: 'Norse Bold';
  font-size: 6em;
}

p {
  font-weight: bolder;
}

.content-container {
  flex: 1;
}

.content {
  display: flex;
  flex-flow: column;
  margin: 6em 3em 1em;
  height: 20%;
}

.last {
  margin: 1em 0 6em;
}

.title {
  padding: 1em 0 1em 3em;
  background-color: white;
}

.form {
  flex: 1;
  padding: 0 0 2em 3em;
  box-shadow: 0 5px 5px #d4d4d4;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 10px;
}

.input-container {
  display: flex;
  flex-flow: column;
  margin: 0.5em 0;
}

label {
  font-size: 0.70em;
  font-weight: bold;
  color: rgba(0,0,0,80%);
}

input {
  border: 1px #a0a0a0 solid;
  border-radius: 5px;
  width: 60%;
  padding: 0.5em;
}

input:focus {
  outline: none;
  border: 1px blue solid;
  box-shadow: 0 1px 2px 2px rgb(224, 224, 224);
}

.button-container {
  padding-left: 3em;
}

button {
  background-color: #596D48;
  padding: 1em 3em;
  border: 0px;
  border-radius: 1em;
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin: 2em 0 2em;
}

button:hover {
  color: #596D48;
  background-color: white;
}

a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}